@if (Mostrar)
{
    <div class="modal-backdrop show"></div>
    <div class="modal-container show">
        <div class="modal-content">
            <h1>Hi h1 -@Titulo-</h1>
            <button class="modal-close">
                <i class="bi bi-x-lg"></i>
            </button>

            <div class="detail-overlay">
                <h1>GetTitle</h1>

                <div class="modal-meta">
                    <span>⭐⭐⭐⭐⭐</span>
                </div>

                <p class="overview">ppp</p>

                <div class="detail-buttons">
                    <button class="icon-btn" title="+ Mi Lista">
                        <p @onclick="Close">Close</p>
                    </button>

                    <button class="icon-btn" title="Me gusta">
                        <p @onclick="Confirmar">Guardar</p>
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public string Titulo { get; set; } = "Notificación";
    [Parameter] public EventCallback OnConfirmar { get; set; }

    public bool Mostrar { get; private set; }

    public void Abrir()
    {
        Mostrar = true;
        StateHasChanged();
    }

    public void Close()
    {
        Mostrar = false;
        StateHasChanged();
    }

    private async Task Confirmar()
    {
        await OnConfirmar.InvokeAsync();
        Close();
    }
}
