@typeparam TModel

@if (IsVisible)
{
    <div class="adm-overlay" @onclick="HandleCancel">
        <div class="adm-modal" @onclick:stopPropagation>

            <div class="adm-modal__header">
                <h2 class="adm-modal__title">@Title</h2>
                <button @onclick="HandleCancel" class="adm-modal__close">✕</button>
            </div>

            <div class="adm-modal__body">
                @BodyContent(Model)
            </div>

            <div class="adm-modal__footer">
                <button @onclick="HandleCancel" class="adm-btn adm-btn--ghost">
                    Cancelar
                </button>

                <button @onclick="HandleConfirm" class="adm-btn adm-btn--primary">
                    Guardar
                </button>
            </div>

        </div>
    </div>
}

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter, EditorRequired] public TModel Model { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter, EditorRequired] public string Title { get; set; } = string.Empty;
    [Parameter, EditorRequired] public RenderFragment<TModel> BodyContent { get; set; } = null!;

    private async Task HandleConfirm() => await OnConfirm.InvokeAsync();

    private async Task HandleCancel()
    {
        await OnCancel.InvokeAsync();
        await IsVisibleChanged.InvokeAsync(false);
    }
}