@page "/OperatorDashboard"
@layout MainLayout
@inject NavigationManager _NavigationManager
@attribute [Authorize(Roles = $"{nameof(UserEnum.Admin)},{nameof(UserEnum.Operator)}")]

<h3>OperatorDashboard</h3>

@code {

}
