@page "/Loads"
@layout MainLayout
@attribute [Authorize(Roles = $"{nameof(UserEnum.Admin)}, {nameof(UserEnum.Supervisor)}, {nameof(UserEnum.Operator)}")]

<PageTitle>Cargas — Tommy Logistic</PageTitle>

<h3>Todas las Cargas</h3>

<button class="btn btn-primary" @onclick="@(() => _NavigationManager.NavigateTo("/CargaNueva"))">Nueva Carga</button>

@code {

}
